<%= render partial: 'thoughts/remote_form' %>
<div id="thoughts">
  <% @thoughts.each do |t| %>
      <div class="thought" id="<%= t.id %>">
        <%=h t.thought %>
        <%= link_to 'Destroy', t, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class=>'delete_thought' %>
      </div>
  <% end %>
</div>
