<%= render partial: 'thoughts/remote_form' %>
<div id="thoughts">
  <% if @thoughts.empty? %>
    <h3>No thoughts found. Add more?</h3>
  <% else %>
    <% @thoughts.each do |t| %>
      <%= render :partial => "thoughts/thought", :object => t%>
    <% end %>
  <% end %>
</div>

<% content_for :sidebar do %>
  <a href="/dashboard">All</a>
  <div style="border-top: 1px grey dashed; margin: 5px;"></div>
  <% @tags.each do |tag, number| %>
    <p>
      <%= link_to tag + ": " + number.to_s, '/tags/' + tag %>
    </p>
  <% end %>
<% end %>
