
<h2>Welcome to OpenThought</h2>

<p>
  OpenThought is an open source thought storage service. See our github page for
  more information. You can find a reference implementation hosted on Heroku
  <a href="http://openthought.heroku.com">here</a>. It is kept as up to date as
  possible. There are currently no clients, but the API opens up the possibility.
  You can also export your thoughts as JSON, XML, or text, in case you want to
  move away from this installation of OpenThought.
</p>

<p>
  Go ahead and make an account. Read more about the service on the About page.
  Read API details on the API page.
</p>
