
<h2>Welcome to OpenThought</h2>

<p>
  OpenThought is an open source thought storage service. See our github page for
  more information. This is a reference implementation hosted on Heroku. It is
  kept as up to date as possible. There are currently no clients, but the API
  opens up the possibility.
</p>

<p>
  Go ahead and make an account. Read more about the service on the About page.
  Read API details on the API page.
</p>
