<h1>About</h1>
<br />
<p>OpenThought is an open source thought repository.
If you think of something, and you don't want to forget
it, you can put it in OpenThough, and OT will remember
for you. OT also includes a simple REST API, so you 
don't have to add thoughts through the web interface.
You can read more about the API <%= link_to 'here', '/api' %>.</p>


