<h1>API</h1>
<p>OpenThought includes a simple REST API for use by clients. From the API you can list, 
create, and delete thoughts. You can also change thoughts, but there seems to be no need
I don't think you should. This documentation assumes that you are running OT on 
localhost:3000. If this is not the case, replace localhost:3000 with the appropriate host
and port when necessary.</p>

<h2>Authentication</h2>
<p>Authentication is managed through an authentication token. Each user has their own unique
and easily regenerated API token which can be found in their user edit page. You only need
to include this authentication token as a parameter, and you are authenticated as that user.</p>

<code>
  Needs improving.
</code>

