<% content_for :sidebar do %>
  <div id="remote_form">
    <textarea rows="8"></textarea>
    <a class="btn primary" id="button">Submit</a>
  </div>
<% end %>

<script type="text/javascript">

$(function() {
  $("#remote_form #button").click(
    function() {
      console.log("Click!!");
      create_thought(
        $("#remote_form textarea").val(),
        function(body, status) {
          console.log(body);
          add_thought("#thoughts", body);
          $("#remote_form textarea").val("");
        }
      );
    }
)})

</script>

