<h1>Thoughts</h1>

<table class="zebra-striped">
  <% @thoughts.each do |thought| %>
    <tr>
      <td>
        <%= render :partial => "thought", :locals => {:thought => thought } %>
      </td>
    </tr>
  <% end %>
</table>

