<h1>Thoughts</h1>

<%= render :partial => "remote_form" %>

<table class="zebra-striped" id="thoughts">
</table>

<% content_for :sidebar do %>
  <div id="tags"></div>
<% end %>

<script type="text/javascript">
$(function() {
  populate_table("#thoughts", '/thoughts.json', function() {
    enable_delete("#thoughts .delete")
  });

  populate_tags("#tags");
})
</script>
